<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>

    <body>

        <div th:replace="fragments :: page-header"></div>

        <div class="container body-content">
            <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
            <h2 class = "centered">View Jobs By Category</h2>
        </div>

        <table class="centeredTable">
            <tr>
                <th:block th:each="column : ${columns}">
                    <th th:text = "${column.value}"></th>
                </th:block>
            </tr>
            <tr>
                <!-- DONE #2: Complete the View Jobs By Category Table.-->
                <td th:each="category : ${tableChoices}"> <!--tableChoices is a HashMap from JobData-->
                    <ul>
                        <!--category represents one key/value pair from the HashMap "tableChoices"-->
                        <!--item represents one entry from the stored ArrayList "category.value"-->
                        <li th:each="item : ${category.value}">
                            <a th:href="@{/list/jobs(column=${category.key},value=${item})}" th:text="${item}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        </table>

    </body>
</html>